.info-card .card-header, .info-card .card-body {
    position: relative;
}

.info-card .card-header {
    font-size: 18px;
    background: #d50000;
    color: #fff;
    z-index: 9;
}

.info-card .card-header .ico {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 22px;
    padding: 15px 25px;
}

.input-in-disguise {
    border: none;
    outline: none;
    background: transparent;
    color: inherit;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
}

.info-card .copy-reacto-icon {
    position: absolute;
    font-size: 22px;
    top: 0;
    right: 0;
    padding: 20px 20px;
    cursor: pointer;
}