@import url(//fonts.googleapis.com/css?family=Roboto:300;400;500;700&display=swap);
@import url(//fonts.googleapis.com/icon?family=Material+Icons);
@import url(//fonts.googleapis.com/css?family=Exo&display=swap);

:root {
    --theme-color: #d50000;
    --color-markdown-code-bg: #d500000f;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    /* padding: 0;
    margin: 0; */
}
body {
    font-family: Exo, 'sans-serif';
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
    padding: 0;
    margin: 0;
}
.reacto-logo {
    display: inline-flex;
    height: 30px;
    width: 50px;
    border: 9px double var(--theme-color);
    border-top: unset;
    border-bottom: unset;
    border-radius: 43%;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    color: var(--theme-color);
}
a {
    color: orangered;
}
.ulist, .ulist * {
    list-style: square;
}
.markdown-body code, .markdown-body tt {
    padding: .2em .4em;
    margin: 0;
    font-size: 85%;
    background-color: var(--color-markdown-code-bg);
    border-radius: 6px;
}
.markdown-body h2 {
    margin-top: 35px;
}
.markdown-body h3 {
    margin-top: 25px;
}
.markdown-body li {
    margin-bottom: 5px;
}
/**************************************************************
* UTILITY CLASSES
**************************************************************/
.mt-5 {
    margin-top: 15px !important;
}
.mt-15 {
    margin-top: 15px !important;
}
.mt-25 {
    margin-top: 25px !important;
}
.ml-10 {
    margin-left: 10px !important;
}
.responsive-text {
    font-size: 27px;
}
.undecorated {
    text-decoration: none !important;
}
/**************************************************************/

/**************************************************************
* CUSTOM SCROLLBAR
**************************************************************/
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--theme-color); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .5); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, .7); 
    cursor: default;
  }
/**************************************************************/


/**************************************************************
* HOME PAGE
**************************************************************/
.home-page {
    .home-banner {
        position: relative;
        .redwall {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 75%;
            background: var(--theme-color);
            z-index: -1
        }
    }
    .logo-sec {
        padding: 30px 0;
        text-align: center;
        color: #fff;
        user-select: none !important;
        .logolink {
            text-decoration: none;
            color: #fff;
            font-size: 50;
            .reacto-logo {
                color: #fff;
                border-color: #fff;
                height: 52;
                width: 70;
                font-size: 50;
            }
        }
        .subtext {
            font-size: 23;
            margin-top: 7;
        }
        .shortcuts {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 25;
            .fico {
                background: #f44336;
                border-radius: 4;
                color: #fff;
                font-size: 30;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                height: 50;
                width: 50;
                margin-bottom: 7;
                box-shadow: -2px -2px 5px 0px #4a3e3e
            }
            .icolink {
                // display: inline-block
                display: inline-flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 90;
                color: #fff;
                text-decoration: none;
            }
            .icolink:hover {
                transform: scale(1.2);
            }
            .cheatsheet {
                width: 48;
                height: 48;
                margin-top: 5;
                color: #ddd;
            }
        }
    }
    .static-playground {
        .half {
            min-height: 270;
            height: 100%;
            background: #000;
            border-radius: 4;
            overflow: hidden;
            font-family: "Courier New", monospace;
            position: relative;
            .header {
                background: #212529;
                color: #fff;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                padding: 3px 15px;
                .decobtns {
                    display: inline-flex;
                    position: absolute;
                    right: 15;
                    top: 5;
                    width: 50;
                    justify-content: space-between;
                    color: orange;
                    svg: {
                        height: 14;
                        width: 14
                    }
                }
            }
            .body {
                padding: 40px 15px 25px 15px;
                color: rgba(255, 255, 255, .9);
                line-height: 20px;
                .reacto-hlight {
                    color: #fff;
                    background: #d50000;
                    padding: 1px 5px;
                    font-weight: bold;
                    // font-family: Courier New; monospace;
                }
            }
        }
    }
    .simple-sec {
        .header {
            text-align: center;
        };
        .para {
            color: rgba(0, 0, 0, .6);
            text-align: justify;
        }
    }
}
/**************************************************************/

/**************************************************************
* MEDIA QUERIES
**************************************************************/
@media (max-width: 768px) {
    .responsive-text {
        font-size: 25px;
    }
}
@media (max-width: 600px) {
    .home-banner .redwall {
        height: 50% !important;
    }
}
@media (max-width: 420px) {
    .responsive-text {
        font-size: 22px;
    }
}
/**************************************************************/