@import url(//fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap);
@import url(//fonts.googleapis.com/icon?family=Material+Icons);
@import url(//fonts.googleapis.com/css?family=Exo&display=swap);

:root {
    --theme-color: #d50000;
    --color-markdown-code-bg: #d500000f;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    /* padding: 0;
    margin: 0; */
}
body {
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    color: rgba(0, 0, 0, 1);
    padding: 0;
    margin: 0;
}
.reacto-logo {
    display: inline-flex;
    height: 30px;
    width: 50px;
    border: 9px double var(--theme-color);
    border-top: unset;
    border-bottom: unset;
    border-radius: 43%;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    color: var(--theme-color);
}
a {
    color: orangered;
}
.ulist, .ulist * {
    list-style: square;
}
.markdown-body code, .markdown-body tt {
    padding: .2em .4em;
    margin: 0;
    font-size: 85%;
    background-color: var(--color-markdown-code-bg);
    border-radius: 6px;
}
.markdown-body h2 {
    margin-top: 35px;
}
.markdown-body h3 {
    margin-top: 25px;
}
.markdown-body li {
    margin-bottom: 5px;
}
/**************************************************************
* UTILITY CLASSES
**************************************************************/
.mt-5 {
    margin-top: 15px !important;
}
.mt-15 {
    margin-top: 15px !important;
}
.mt-25 {
    margin-top: 25px !important;
}
.ml-10 {
    margin-left: 10px !important;
}
.responsive-text {
    font-size: 27px;
}
.undecorated {
    text-decoration: none !important;
}
/**************************************************************/

/**************************************************************
* CUSTOM SCROLLBAR
**************************************************************/
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--theme-color); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .5); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, .7); 
    cursor: default;
  }
/**************************************************************/

/**************************************************************
* MEDIA QUERIES
**************************************************************/
@media (max-width: 768px) {
    .responsive-text {
        font-size: 25px;
    }
}
@media (max-width: 600px) {
    .home-banner .redwall {
        height: 50% !important;
    }
}
@media (max-width: 420px) {
    .responsive-text {
        font-size: 22px;
    }
}
/**************************************************************/