.left-panel {
	position: fixed;
	left: 0;
	top: 50px;
	width: 234px;
	height: 100vh;
	z-index: 99;
	transition: all 300ms linear;
	border: 2px solid #f00;
	border-left: unset;
	border-top: unset;
	background: #fff;
}

.left-panel .left-panel-collapsser {
	position: absolute;
    right: -24px;
    top: 0;
    font-size: 22px;
    background: #fff;
    padding: 5px;
	color: #f00;
	/* border: 2px solid #f00;
	border-left: 2px solid #fff;
    border-top-right-radius: 4px; */
    border-bottom-right-radius: 2px;
    display: none;    
}
.left-panel.collapssed .left-panel-collapsser {
	background: #fff;
}
.left-panel .header {
	text-align: center;
    font-size: 22px;
    padding: 4px;
}
.left-panel ul {
	list-style: none;
	padding: 0 0 20px 0;
}
.left-panel ul li {
	padding: 10px 15px;
	border-bottom: 2px solid #f00;
	border-left: 7px solid #fff;
	font-size: 15px;
}
.left-panel ul li .ico {
	margin-right: 9px;
	color: #f00;
}
.left-panel ul li:first-child {
	/* border-top: 2px solid #f00; */
}
.left-panel ul li.active {
	border-left: 7px solid #f00;
}
.mid-panel {
	margin-left: 234px;
	padding: 0 25px 15px 25px;
}

.listpage {
	background: #fff;
    padding: 1px 15px;
    border-radius: 4px;
}

.listpage .info-card {
	margin-top: 0 !important;
	border: 2px solid #f00;
	border-radius: 0;
}
.listpage .info-card .card-header {
	position: sticky;
	top: 50px;
	border-radius: 0;
}

@media(max-width: 767px) {
	.mid-panel {
		margin-left: 0;
		padding: 0 0 15px;
	}
	.left-panel.collapssed {
		left: -234px;
	}
	.left-panel .left-panel-collapsser {
		display: inline-block;
	}
	.left-panel ul {
		/* padding-top: 26px; */
	}
}