
@import url('https://fonts.googleapis.com/css?family=Exo&display=swap');

:root {
  --washed-red: #f0a3a3;
}

body {
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    /* background: var(--washed-red); */
}
code {
    color: #fff;
    word-break: break-word;
    background: rgba(255, 0, 0, 0.6);
    padding: 2px 5px;
    border-radius: 3px;
    font-family: "Courier New", Courier, monospace;
    font-size: 92%;
}
.font-mono {
	font-family: "Courier New", Courier, monospace;
}
a {
  color: #f00 !important;
}
.hide {
  display: none !important;
}
.mt-15 {
  margin-top: 15px;
}
.theme-color {
  color: #f00;
}
.border-bottom {
  border-bottom: 1px solid #999;
}
.navbar {
  padding: 0 15px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background: #fff;
  height: 50px;
  align-items: inherit;
}

.reacto-logo {
  display: inline-flex;
    height: 30px;
    width: 50px;
    border: 9px double #f00;
    border-top: unset;
    border-bottom: unset;
    border-radius: 43%;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    color: #f00;
}

.main-container {
  margin-top: 15px;
  min-height: 500px;
  min-height: 85vh;
}
.main-container .container {
  background: #fff;
  padding: 5px 20px;
}
.st-pre {
  white-space: pre-wrap;
  word-break: break-word;
  text-align: justify;
}
.reacto-playgrund-ico {
  font-size: 70px;
  float: left;
  padding: 5px 10px;
  margin: 7px 20px 10px 0;
  background: #f00;
  color: #fff;
  border: 1px solid #f00;
  border-radius: 9px;
}

.reacto-types {
  list-style: none;
  padding: 0;
}

.reacto-types li {
  padding: 20px 15px;
}

.reacto-types li .inner-container {
  text-align: center;
  display: block;
  padding: 5px;
  color: #f00;
  text-decoration: none !important;
}
.reacto-types li .inner-container:hover,
.reacto-types li .inner-container:focus,
.reacto-types li .inner-container:active {
  border: 8px double #f00;
  border-top: unset;
  border-bottom: unset;
  border-radius: 36px;
}

.reacto-types li .ico {
  font-size: 70px;
  margin-bottom: 10px;
}

/*****************************************************
* Overriding Button and FormControl Styles
*****************************************************/
.btn-outline-primary {
    color: #f00;
    border-color: #f00;
}
.btn-primary {
  color: #fff !important;
  background-color: #f00;
  border-color: #f00;
}
.btn-outline-primary:hover,
.btn-outline-primary:not(:disabled):not(.disabled).active, 
.btn-outline-primary:not(:disabled):not(.disabled):active, 
.show>.btn-outline-primary.dropdown-toggle {
    color: #fff !important;
    background-color: #f00;
    border-color: #f00;
}
.btn-outline-primary.focus, 
.btn-outline-primary:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus, 
.btn-outline-primary:not(:disabled):not(.disabled):active:focus, 
.show>.btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.3);
}
.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled).active, 
.btn-primary:not(:disabled):not(.disabled):active, 
.show>.btn-primary.dropdown-toggle {
    color: #fff !important;
    background-color: rgb(198, 0, 0);
    border-color:  rgb(198, 0, 0);
}
.btn-primary.focus, 
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus, 
.btn-primary:not(:disabled):not(.disabled):active:focus, 
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.3);
}
.form-control:focus {
  border-color: #f00 !important;
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.3) !important;
}
/******************************************************************/

/*****************************************************
* NAV STYLE STARTS HERE
*****************************************************/
.navbar {
  padding: 0 15px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background: #fff;
  height: 50px;
  align-items: inherit;
}
.navbar-nav {
  padding: 0;
}
.navbar-nav .nav-link {
  padding: 10px 15px;
  color: #f00;
}
.navbar-brand {
  color: #f00 !important;
  padding: 0;
  display: inline-flex;
  align-items: center;
}
.navbar-brand img {
  height: 32px;
  margin: 9px 5px 3px 0;
}
.navbar-toggler {
  border-color: #f00;
  outline: none;
  font-size: 15px;
  padding: 5px 10px;
  height: 30px;
}
@media (min-width: 992px) {
  .navbar-nav .nav-item {
      margin-right: 5px;
  }
  .navbar-nav .nav-link {
      border-bottom: 1px solid transparent;
  }
  .navbar-nav .nav-link:hover {
      border-color: rgba(255, 0, 0, 0.3);
  }
  .navbar-nav .nav-link.active,
  .navbar-nav .nav-link.active:hover {
      border-color: #f00;
  }
}
@media (max-width: 991px) {
  .navbar-brand img {
      height: 26px;
      margin: 13px 5px 5px 0;
  }
  .bx-navbar-body {
      transition: all .4s linear;
      position: absolute;
      top: 50px;
      left: 0;
      width: 100%;
      border-top: 7px double #f00;
      border-bottom: 7px double #f00;
      background: #fff;   
      padding: 5px 0;
  }
  .bx-navbar-body ul li a {
      color: #f00;
  }
  .bx-navbar-body.mobile-nav-hidden {
      left: -1000px;
  }
  .navbar-nav .nav-item {
      padding: 1px 0;
  }
  .navbar-nav .nav-link {
      padding: 5px 15px;
      border-left: 5px solid transparent;
      border-radius: 0;
  }
  .navbar-nav .nav-link.active {
      border-color: #f00;
  }
}
/******** NAV STYLE STARTS HERE *********************/


/*****************************************************
* FOOTER STYLE STARTS HERE
*****************************************************/
.site-footer {
  color: #fff;
  background: darkred;
  padding-top: 25px;
  padding-bottom: 30px;
  font-size: 15px;
}

.site-footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.site-footer .social-connect li {
  display: inline-block;
  margin-right: 10px;
}
.site-footer ul li a {
  color: #fff !important;    
}

.social-connect .ico {
  font-size: 25px;
}
/******** FOOTER STYLE STARTS HERE *********************/

@media (max-width: 400px) {
  h1 {
      font-size: 30px;
  }
}